.banner{
    position: relative;
    height: 45rem;
    color: #fff;
    object-fit: contain;
}

.banner__contents{
    margin-left: 3rem;
    padding-top: 14rem;
    height: 37.6rem;
}

.banner__title{
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.3vw;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(51,51,51,0.5);
}

.banner__button:hover{
    color: #000;
    background-color: #fff;
    transition: all 0.2s;
}

.banner__description{
    width: 45rem;
    line-height: 1.1;
    padding-top: 1rem;
    font-size: 1.5rem;
    max-width: 36rem;
    height: 8rem;
}

.banner__fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg, transparent, 
        rgba(37,37,37,0.61),
        #111
    );
}
